body {
    background-color: aliceblue;
    margin: 50px;
}

h2 {
    margin: 50px;
}

.acc-head:hover {
	background: rgb(151, 177, 199);
}

.content {
	width: 100%;
	display: none;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion {
	margin: 0 auto;
}

.acc-head {
	border-bottom: 1px solid #DDE0E7;
	color: #ffffff;
	background-color: rgb(202, 221, 238);
	cursor: pointer;
	font-weight: 500;
    padding: 1.5rem;
	position: relative;
}

.content .acc-head{
	width: 100%;
}

.acc-head::before {
	content: '';
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.acc-head::before {
	background-color: aqua;
}

.content a{
	text-decoration: none;
}

.movebutton {
    columns: 1;
}

.acc-head > button {
    background-color: #e4e4e4;
    height: 40px;
    width: 80%;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333333;
}
.content ul li {
    color: #333333;
}

.light {
	background-color: aliceblue !important;
}

.dark {
	background-color: rgba(52, 58, 64, 1) !important;
}

.light-toggled {
	background-color: aliceblue;
}

.dark-toggled {
	background-color: rgba(52, 58, 64, 1);
	color: rgb(187, 199, 211);
}

.light p {
	color: black !important;
}

.light h2 {
	color: black !important;
}


.light-toggled p {
	color: black;
}

.light-toggled h1 {
	color: black;
}

.dark p {
	color: rgb(187, 199, 211);
}

.dark h2 {
	color: rgb(187, 199, 211);
}

.dark-toggled .acc-head {
	background-color: rgb(97, 102, 105);
	color: #424242;
}

.light-toggled .acc-head {
	color: #ffffff;
	background-color: rgb(202, 221, 238);
}

.dark .acc-head {
	background-color: rgb(97, 102, 105);
	color: #424242;
}

.light .acc-head {
	color: #ffffff;
	background-color: rgb(202, 221, 238);
}

.dark .content {
	background-color: #424242;
	color: #DDE0E7;
}

.dark-toggled .content {
	background-color: rgb(83, 88, 94);
	color: #DDE0E7;
}

.dark-toggled .content p {
	color: #DDE0E7;
}