{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">
        <h2>some books you might want to read</h2>

        <div class="row mx-auto px-5 my-4">
            <input type="text" class="form-control form-control-sm" id="search-box" placeholder="Orion">
            <button id="search-button">Cari</button>
        </div>
        <div class="row mx-auto px-5 my-4">
            <div class="col mx-5" id="output" style="background-color: rgb(211, 227, 238);" name="tabel">
            </div>
        </div>

    </section>
{% endblock %}

{% block script %}
    <script>
        const get_books_url = "{% url 'books:json' %}?keyword=";
    </script>
    <script src="{% static 'js/books.js' %}"></script>
{% endblock %}