<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<section class="p-5 justify-content-center">
	<h1>Apa kabar?</h1>
	<form action="" method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}
		<table class="table mx-5" style="width:90vw">
			{{ form.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td><input id="submit" type="submit" value="Tambah Status" class="button my-4"></td>
			</tr>
		</table>
	</form>
</section>
<section>
    {% for i in status %}
	<div id='card' class="card w-75" style="background-color:{{i.color}}">
		<div class="card-body">
		  <h5 class="card-title">{{ i.nama }}</h5>
		  <p class="card-text">{{ i.pesan }}</p>
		  <form action="color/{{i.id}}/" method="POST">
			{% csrf_token %}
			<input name="ganti" type="submit" value="Ganti warna" class="button my-4">
		</form>
		</div>
	</div>
	{% endfor %}
</section>